@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
  font-family: 'Libre Franklin', cursive;
}

::-webkit-scrollbar {
  display: none;
}

/* ::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 32, 32);
  border-radius: 2px 2px 2px 2px;
} */

* {
  overflow-x: visible;
}
